<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.si.directory_app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".controller.app_controller"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_two"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_two_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.SubCatActivity"></activity>
        <activity android:name=".activities.FilterActivity" />
        <activity android:name=".activities.PersonalDetailActivity" />
        <activity android:name=".activities.ShortlistedActivity" />
        <activity android:name=".activities.RetailerProfileActivity" />
        <activity android:name=".activities.ChangePassActivity" />
        <activity android:name=".activities.RetailersListActivity" />
        <!-- File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/file_provider_authorities"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider> <!-- U CROP -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.SetPasswordActivity" />
        <activity android:name=".activities.ForgetPassActivity" />
        <activity android:name=".activities.DashBordActivity" />
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.WalkOverActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>